<a href="https://colab.research.google.com/github/Mikky-sout/ImageProcessingOnly/blob/main/ProjectML.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Heart Disease Prediction

**Import Librarys**

In [171]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.svm import SVR
from sklearn import preprocessing
from sklearn import metrics
import pandas_datareader.data as web
import pandas
from pandas_datareader import data as pdr
import datetime
import math
from sklearn import model_selection
from sklearn.preprocessing import LabelBinarizer
from tensorflow.keras.utils import to_categorical
from imblearn.under_sampling import RandomUnderSampler 
from imblearn.over_sampling import RandomOverSampler

**Prepare Dataset**

In [2]:
df = pd.read_csv("/content/drive/MyDrive/heart_2020_cleaned.csv")
df.head()
Y = pd.DataFrame(df['HeartDisease'])
df = df.drop(df[['HeartDisease']],axis=1)
Y

       HeartDisease
0                No
1                No
2                No
3                No
4                No
...             ...
319790          Yes
319791           No
319792           No
319793           No
319794           No

[319795 rows x 1 columns]

In [3]:
categorical_featureX = df.select_dtypes(include=['object']).columns
df = pd.get_dummies(df,columns=categorical_featureX,drop_first=True)
df.head()

,BMI,PhysicalHealth,MentalHealth,SleepTime,Smoking_Yes,AlcoholDrinking_Yes,Stroke_Yes,DiffWalking_Yes,Sex_Male,AgeCategory_25-29,...,Diabetic_Yes,Diabetic_Yes (during pregnancy),PhysicalActivity_Yes,GenHealth_Fair,GenHealth_Good,GenHealth_Poor,GenHealth_Very good,Asthma_Yes,KidneyDisease_Yes,SkinCancer_Yes
0,16.60,3.0,30.0,5.0,1,0,0,0,0,0,...,1,0,1,0,0,0,1,1,0,1
1,20.34,0.0,0.0,7.0,0,0,1,0,0,0,...,0,0,1,0,0,0,1,0,0,0
2,26.58,20.0,30.0,8.0,1,0,0,0,1,0,...,1,0,1,1,0,0,0,1,0,0
3,24.21,0.0,0.0,6.0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1
4,23.71,28.0,0.0,8.0,0,0,0,1,0,0,...,0,0,1,0,0,0,1,0,0,0

In [4]:
lb = LabelBinarizer()
labels = lb.fit_transform(Y)
labels = to_categorical(labels)
Y = np.array(labels)

In [5]:
Y = pd.DataFrame(Y)
Y.columns = ['HeartDisease_No','HeartDisease_Yes']
Y

        HeartDisease_No  HeartDisease_Yes
0                   1.0               0.0
1                   1.0               0.0
2                   1.0               0.0
3                   1.0               0.0
4                   1.0               0.0
...                 ...               ...
319790              0.0               1.0
319791              1.0               0.0
319792              1.0               0.0
319793              1.0               0.0
319794              1.0               0.0

[319795 rows x 2 columns]

In [6]:
standard_scaler = preprocessing.StandardScaler();
X = pd.DataFrame(standard_scaler.fit_transform(df.values),index = df.index, columns=df.columns)
# Y = pd.DataFrame(standard_scaler.fit_transform(Y.values),index = X2.index, columns=X2.columns)

In [7]:
X.head()

,BMI,PhysicalHealth,MentalHealth,SleepTime,Smoking_Yes,AlcoholDrinking_Yes,Stroke_Yes,DiffWalking_Yes,Sex_Male,AgeCategory_25-29,...,Diabetic_Yes,Diabetic_Yes (during pregnancy),PhysicalActivity_Yes,GenHealth_Fair,GenHealth_Good,GenHealth_Poor,GenHealth_Very good,Asthma_Yes,KidneyDisease_Yes,SkinCancer_Yes
0,-1.844750,-0.046751,3.281069,-1.460354,1.193474,-0.27032,-0.198040,-0.401578,-0.951711,-0.236615,...,2.614905,-0.089814,0.538256,-0.348745,-0.640987,-0.191292,1.344886,2.541515,-0.195554,3.118419
1,-1.256338,-0.424070,-0.490039,-0.067601,-0.837890,-0.27032,5.049478,-0.401578,-0.951711,-0.236615,...,-0.382423,-0.089814,0.538256,-0.348745,-0.640987,-0.191292,1.344886,-0.393466,-0.195554,-0.320675
2,-0.274603,2.091388,3.281069,0.628776,1.193474,-0.27032,-0.198040,-0.401578,1.050739,-0.236615,...,2.614905,-0.089814,0.538256,2.867422,-0.640987,-0.191292,-0.743558,2.541515,-0.195554,-0.320675
3,-0.647473,-0.424070,-0.490039,-0.763977,-0.837890,-0.27032,-0.198040,-0.401578,-0.951711,-0.236615,...,-0.382423,-0.089814,-1.857852,-0.348745,1.560094,-0.191292,-0.743558,-0.393466,-0.195554,3.118419
4,-0.726138,3.097572,-0.490039,0.628776,-0.837890,-0.27032,-0.198040,2.490174,-0.951711,-0.236615,...,-0.382423,-0.089814,0.538256,-0.348745,-0.640987,-0.191292,1.344886,-0.393466,-0.195554,-0.320675

In [8]:
Y.head()

   HeartDisease_No  HeartDisease_Yes
0              1.0               0.0
1              1.0               0.0
2              1.0               0.0
3              1.0               0.0
4              1.0               0.0

**Under Sampling (For imbalance dataset)**

In [172]:
undersample = RandomUnderSampler(sampling_strategy='majority')
ros = RandomOverSampler(random_state=23)
X_us,Y_us = undersample.fit_resample(np.asarray(X), np.asarray(Y))
X_os,Y_os = ros.fit_resample(np.asarray(X), np.asarray(Y))

In [173]:
X_us = pd.DataFrame(X_us)
X_us.columns = X.columns
Y_us = pd.DataFrame(Y_us)

X_os = pd.DataFrame(X_os)
X_os.columns = X.columns
Y_os = pd.DataFrame(Y_os)

In [174]:
lb = LabelBinarizer()
labels = lb.fit_transform(Y_us)
labels = to_categorical(labels)
Y_us = np.array(labels)
Y_us = pd.DataFrame(Y_us)
Y_us.columns = ['HeartDisease_No','HeartDisease_Yes']


lb = LabelBinarizer()
labels = lb.fit_transform(Y_os)
labels = to_categorical(labels)
Y_os = np.array(labels)
Y_os = pd.DataFrame(Y_os)
Y_os.columns = ['HeartDisease_No','HeartDisease_Yes']

In [175]:
Y_us

       HeartDisease_No  HeartDisease_Yes
0                  1.0               0.0
1                  1.0               0.0
2                  1.0               0.0
3                  1.0               0.0
4                  1.0               0.0
...                ...               ...
54741              0.0               1.0
54742              0.0               1.0
54743              0.0               1.0
54744              0.0               1.0
54745              0.0               1.0

[54746 rows x 2 columns]

# Train Test Split

In [13]:
from sklearn.model_selection import train_test_split

In [177]:
x_train,x_test,y_train,y_test = train_test_split(X_us,Y_us,test_size=0.3,random_state=23)
x_train1,x_test1,y_train1,y_test1 = train_test_split(X,Y,test_size=0.3,random_state=23)
x_train2,x_test2,y_train2,y_test2 = train_test_split(X_os,Y_os,test_size=0.3,random_state=23)

# KNN Training

**Define parameter and Create Model**

In [15]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

In [16]:
k = 51

modelKNN = KNeighborsClassifier(n_neighbors=k,p=2)
modelKNN.fit(x_train1,y_train1)

KNeighborsClassifier(n_neighbors=51)

In [17]:
pred = modelKNN.predict(x_test1)
KNNScore = accuracy_score(y_test1,pred)

In [18]:
print('KNN Accuracy :',KNNScore)

KNN Accuracy : 0.9167387610877745

In [19]:
df_pred = pd.DataFrame(pred)
y_pred = df_pred.idxmax(axis=1)

In [20]:
y_true = np.asarray(y_test1)
df_true = pd.DataFrame(y_true)
y_true = df_true.idxmax(axis=1)

In [21]:
print('--------- Confusion matrix-----------')
print(confusion_matrix(y_true, y_pred))
print('--------- Classification Report matrix -----------')
print(classification_report(y_true, y_pred))

--------- Confusion matrix-----------
[[87476   377]
 [ 7611   475]]
--------- Classification Report matrix -----------
              precision    recall  f1-score   support

           0       0.92      1.00      0.96     87853
           1       0.56      0.06      0.11      8086

    accuracy                           0.92     95939
   macro avg       0.74      0.53      0.53     95939
weighted avg       0.89      0.92      0.88     95939

# KNN Training With Oversampling

In [222]:
k = 51

modelKNN = KNeighborsClassifier(n_neighbors=k,p=2)
modelKNN.fit(x_train2,y_train2)

KNeighborsClassifier(n_neighbors=51)

In [223]:
pred_us = modelKNN.predict(x_test2)
KNNScore_us = accuracy_score(y_test2,pred_us)

In [224]:
print('KNN Accuracy :',KNNScore_us)

KNN Accuracy : 0.7785174461682264

In [225]:
df_pred_us = pd.DataFrame(pred_us)
y_pred_us = df_pred_us.idxmax(axis=1)

In [226]:
y_true_us = np.asarray(y_test2)
df_true_us = pd.DataFrame(y_true_us)
y_true_us = df_true_us.idxmax(axis=1)

In [227]:
print('--------- Confusion matrix-----------')
print(confusion_matrix(y_true_us, y_pred_us))
print('--------- Classification Report matrix -----------')
print(classification_report(y_true_us, y_pred_us))

--------- Confusion matrix-----------
[[63773 24034]
 [14826 72821]]
--------- Classification Report matrix -----------
              precision    recall  f1-score   support

           0       0.81      0.73      0.77     87807
           1       0.75      0.83      0.79     87647

    accuracy                           0.78    175454
   macro avg       0.78      0.78      0.78    175454
weighted avg       0.78      0.78      0.78    175454

# NeuralNetwork Training

In [127]:
from sklearn.neural_network import MLPClassifier
from sklearn.datasets import make_classification
from keras.models import Sequential
from keras.layers import Dense
from tensorflow.keras.layers import Dropout

In [214]:
modelNN = Sequential()
modelNN.add(Dense(128, input_dim=37, activation='relu'))
modelNN.add(Dense(128, activation='sigmoid'))
modelNN.add(Dense(128, activation='sigmoid'))
modelNN.add(Dropout(0.5))
modelNN.add(Dense(2, activation='softmax'))
modelNN.compile(optimizer='adam',loss='categorical_crossentropy',metrics=['accuracy'])

In [215]:
modelNN.summary()

Model: "sequential_22"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_95 (Dense)            (None, 128)               4864

 dense_96 (Dense)            (None, 128)               16512

 dense_97 (Dense)            (None, 128)               16512

 dropout_11 (Dropout)        (None, 128)               0

 dense_98 (Dense)            (None, 2)                 258

=================================================================
Total params: 38,146
Trainable params: 38,146
Non-trainable params: 0
_________________________________________________________________

In [216]:
modelNN.fit(x_train2, y_train2, epochs=150, batch_size=128,verbose=1,validation_data=(x_test2,y_test2))

Epoch 1/150
3199/3199 [==============================] - 13s 4ms/step - loss: 0.4963 - accuracy: 0.7630 - val_loss: 0.4824 - val_accuracy: 0.7693
Epoch 2/150
3199/3199 [==============================] - 11s 3ms/step - loss: 0.4849 - accuracy: 0.7695 - val_loss: 0.4806 - val_accuracy: 0.7702
Epoch 3/150
3199/3199 [==============================] - 11s 3ms/step - loss: 0.4816 - accuracy: 0.7705 - val_loss: 0.4773 - val_accuracy: 0.7713
Epoch 4/150
3199/3199 [==============================] - 12s 4ms/step - loss: 0.4790 - accuracy: 0.7716 - val_loss: 0.4767 - val_accuracy: 0.7720
Epoch 5/150
3199/3199 [==============================] - 12s 4ms/step - loss: 0.4755 - accuracy: 0.7728 - val_loss: 0.4730 - val_accuracy: 0.7731
Epoch 6/150
3199/3199 [==============================] - 12s 4ms/step - loss: 0.4720 - accuracy: 0.7742 - val_loss: 0.4716 - val_accuracy: 0.7730
Epoch 7/150
3199/3199 [==============================] - 12s 4ms/step - loss: 0.4674 - accuracy: 0.7758 - val_loss: 0.4655 - val_accuracy: 0.7757
Epoch 8/150
3199/3199 [==============================] - 11s 4ms/step - loss: 0.4623 - accuracy: 0.7777 - val_loss: 0.4626 - val_accuracy: 0.7771
Epoch 9/150
3199/3199 [==============================] - 11s 4ms/step - loss: 0.4568 - accuracy: 0.7802 - val_loss: 0.4559 - val_accuracy: 0.7799
Epoch 10/150
3199/3199 [==============================] - 12s 4ms/step - loss: 0.4513 - accuracy: 0.7830 - val_loss: 0.4504 - val_accuracy: 0.7838
Epoch 11/150
3199/3199 [==============================] - 12s 4ms/step - loss: 0.4449 - accuracy: 0.7868 - val_loss: 0.4479 - val_accuracy: 0.7852
Epoch 12/150
3199/3199 [==============================] - 12s 4ms/step - loss: 0.4386 - accuracy: 0.7902 - val_loss: 0.4397 - val_accuracy: 0.7899
Epoch 13/150
3199/3199 [==============================] - 12s 4ms/step - loss: 0.4322 - accuracy: 0.7939 - val_loss: 0.4354 - val_accuracy: 0.7913
Epoch 14/150
3199/3199 [==============================] - 11s 4ms/step - loss: 0.4253 - accuracy: 0.7978 - val_loss: 0.4308 - val_accuracy: 0.7955
Epoch 15/150
3199/3199 [==============================] - 11s 4ms/step - loss: 0.4186 - accuracy: 0.8018 - val_loss: 0.4247 - val_accuracy: 0.7991
Epoch 16/150
3199/3199 [==============================] - 11s 4ms/step - loss: 0.4123 - accuracy: 0.8059 - val_loss: 0.4202 - val_accuracy: 0.8026
Epoch 17/150
3199/3199 [==============================] - 12s 4ms/step - loss: 0.4061 - accuracy: 0.8095 - val_loss: 0.4181 - val_accuracy: 0.8020
Epoch 18/150
3199/3199 [==============================] - 12s 4ms/step - loss: 0.4004 - accuracy: 0.8129 - val_loss: 0.4121 - val_accuracy: 0.8061
Epoch 19/150
3199/3199 [==============================] - 12s 4ms/step - loss: 0.3953 - accuracy: 0.8157 - val_loss: 0.4093 - val_accuracy: 0.8101
Epoch 20/150
3199/3199 [==============================] - 11s 4ms/step - loss: 0.3896 - accuracy: 0.8190 - val_loss: 0.4051 - val_accuracy: 0.8124
Epoch 21/150
3199/3199 [==============================] - 11s 4ms/step - loss: 0.3844 - accuracy: 0.8223 - val_loss: 0.3976 - val_accuracy: 0.8156
Epoch 22/150
3199/3199 [==============================] - 12s 4ms/step - loss: 0.3803 - accuracy: 0.8246 - val_loss: 0.3966 - val_accuracy: 0.8170
Epoch 23/150
3199/3199 [==============================] - 11s 4ms/step - loss: 0.3759 - accuracy: 0.8270 - val_loss: 0.3967 - val_accuracy: 0.8178
Epoch 24/150
3199/3199 [==============================] - 12s 4ms/step - loss: 0.3714 - accuracy: 0.8297 - val_loss: 0.3941 - val_accuracy: 0.8200
Epoch 25/150
3199/3199 [==============================] - 11s 4ms/step - loss: 0.3677 - accuracy: 0.8311 - val_loss: 0.3898 - val_accuracy: 0.8231
Epoch 26/150
3199/3199 [==============================] - 12s 4ms/step - loss: 0.3636 - accuracy: 0.8336 - val_loss: 0.3830 - val_accuracy: 0.8252
Epoch 27/150
3199/3199 [==============================] - 12s 4ms/step - loss: 0.3603 - accuracy: 0.8355 - val_loss: 0.3819 - val_accuracy: 0.8247
Epoch 28/150
3199/3199 [==============================] - 12s 4ms/step - loss: 0.3568 - accuracy: 0.8371 - val_loss: 0.3803 - val_accuracy: 0.8274
Epoch 29/150
3199/3199 [==============================] - 11s 4ms/step - loss: 0.3539 - accuracy: 0.8391 - val_loss: 0.3780 - val_accuracy: 0.8284
Epoch 30/150
3199/3199 [==============================] - 12s 4ms/step - loss: 0.3508 - accuracy: 0.8403 - val_loss: 0.3813 - val_accuracy: 0.8282
Epoch 31/150
3199/3199 [==============================] - 11s 4ms/step - loss: 0.3482 - accuracy: 0.8422 - val_loss: 0.3728 - val_accuracy: 0.8323
Epoch 32/150
3199/3199 [==============================] - 12s 4ms/step - loss: 0.3451 - accuracy: 0.8440 - val_loss: 0.3756 - val_accuracy: 0.8309
Epoch 33/150
3199/3199 [==============================] - 11s 4ms/step - loss: 0.3430 - accuracy: 0.8454 - val_loss: 0.3681 - val_accuracy: 0.8350
Epoch 34/150
3199/3199 [==============================] - 11s 4ms/step - loss: 0.3399 - accuracy: 0.8465 - val_loss: 0.3714 - val_accuracy: 0.8334
Epoch 35/150
3199/3199 [==============================] - 11s 4ms/step - loss: 0.3377 - accuracy: 0.8477 - val_loss: 0.3678 - val_accuracy: 0.8364
Epoch 36/150
3199/3199 [==============================] - 11s 4ms/step - loss: 0.3356 - accuracy: 0.8486 - val_loss: 0.3643 - val_accuracy: 0.8367
Epoch 37/150
3199/3199 [==============================] - 11s 4ms/step - loss: 0.3331 - accuracy: 0.8502 - val_loss: 0.3698 - val_accuracy: 0.8365
Epoch 38/150
3199/3199 [==============================] - 11s 4ms/step - loss: 0.3307 - accuracy: 0.8518 - val_loss: 0.3685 - val_accuracy: 0.8359
Epoch 39/150
3199/3199 [==============================] - 12s 4ms/step - loss: 0.3291 - accuracy: 0.8526 - val_loss: 0.3650 - val_accuracy: 0.8380
Epoch 40/150
3199/3199 [==============================] - 12s 4ms/step - loss: 0.3269 - accuracy: 0.8538 - val_loss: 0.3606 - val_accuracy: 0.8398
Epoch 41/150
3199/3199 [==============================] - 12s 4ms/step - loss: 0.3254 - accuracy: 0.8542 - val_loss: 0.3610 - val_accuracy: 0.8409
Epoch 42/150
3199/3199 [==============================] - 11s 4ms/step - loss: 0.3230 - accuracy: 0.8559 - val_loss: 0.3580 - val_accuracy: 0.8437
Epoch 43/150
3199/3199 [==============================] - 11s 4ms/step - loss: 0.3220 - accuracy: 0.8564 - val_loss: 0.3589 - val_accuracy: 0.8422
Epoch 44/150
3199/3199 [==============================] - 12s 4ms/step - loss: 0.3197 - accuracy: 0.8572 - val_loss: 0.3553 - val_accuracy: 0.8436
Epoch 45/150
3199/3199 [==============================] - 11s 4ms/step - loss: 0.3186 - accuracy: 0.8584 - val_loss: 0.3584 - val_accuracy: 0.8434
Epoch 46/150
3199/3199 [==============================] - 11s 4ms/step - loss: 0.3166 - accuracy: 0.8592 - val_loss: 0.3517 - val_accuracy: 0.8456
Epoch 47/150
3199/3199 [==============================] - 12s 4ms/step - loss: 0.3145 - accuracy: 0.8596 - val_loss: 0.3559 - val_accuracy: 0.8450
Epoch 48/150
3199/3199 [==============================] - 11s 4ms/step - loss: 0.3137 - accuracy: 0.8606 - val_loss: 0.3539 - val_accuracy: 0.8461
Epoch 49/150
3199/3199 [==============================] - 12s 4ms/step - loss: 0.3119 - accuracy: 0.8617 - val_loss: 0.3546 - val_accuracy: 0.8465
Epoch 50/150
3199/3199 [==============================] - 11s 4ms/step - loss: 0.3109 - accuracy: 0.8623 - val_loss: 0.3495 - val_accuracy: 0.8491
Epoch 51/150
3199/3199 [==============================] - 12s 4ms/step - loss: 0.3091 - accuracy: 0.8629 - val_loss: 0.3504 - val_accuracy: 0.8476
Epoch 52/150
3199/3199 [==============================] - 12s 4ms/step - loss: 0.3080 - accuracy: 0.8635 - val_loss: 0.3501 - val_accuracy: 0.8476
Epoch 53/150
3199/3199 [==============================] - 12s 4ms/step - loss: 0.3064 - accuracy: 0.8646 - val_loss: 0.3504 - val_accuracy: 0.8484
Epoch 54/150
3199/3199 [==============================] - 11s 4ms/step - loss: 0.3052 - accuracy: 0.8656 - val_loss: 0.3519 - val_accuracy: 0.8484
Epoch 55/150
3199/3199 [==============================] - 12s 4ms/step - loss: 0.3047 - accuracy: 0.8657 - val_loss: 0.3445 - val_accuracy: 0.8518
Epoch 56/150
3199/3199 [==============================] - 11s 4ms/step - loss: 0.3030 - accuracy: 0.8666 - val_loss: 0.3434 - val_accuracy: 0.8517
Epoch 57/150
3199/3199 [==============================] - 12s 4ms/step - loss: 0.3024 - accuracy: 0.8671 - val_loss: 0.3465 - val_accuracy: 0.8521
Epoch 58/150
3199/3199 [==============================] - 11s 4ms/step - loss: 0.3009 - accuracy: 0.8678 - val_loss: 0.3418 - val_accuracy: 0.8526
Epoch 59/150
3199/3199 [==============================] - 11s 4ms/step - loss: 0.2998 - accuracy: 0.8683 - val_loss: 0.3450 - val_accuracy: 0.8498
Epoch 60/150
3199/3199 [==============================] - 12s 4ms/step - loss: 0.2987 - accuracy: 0.8690 - val_loss: 0.3455 - val_accuracy: 0.8530
Epoch 61/150
3199/3199 [==============================] - 12s 4ms/step - loss: 0.2970 - accuracy: 0.8694 - val_loss: 0.3421 - val_accuracy: 0.8532
Epoch 62/150
3199/3199 [==============================] - 12s 4ms/step - loss: 0.2969 - accuracy: 0.8702 - val_loss: 0.3422 - val_accuracy: 0.8524
Epoch 63/150
3199/3199 [==============================] - 12s 4ms/step - loss: 0.2956 - accuracy: 0.8707 - val_loss: 0.3463 - val_accuracy: 0.8518
Epoch 64/150
3199/3199 [==============================] - 12s 4ms/step - loss: 0.2942 - accuracy: 0.8711 - val_loss: 0.3428 - val_accuracy: 0.8539
Epoch 65/150
3199/3199 [==============================] - 11s 4ms/step - loss: 0.2939 - accuracy: 0.8715 - val_loss: 0.3444 - val_accuracy: 0.8546
Epoch 66/150
3199/3199 [==============================] - 12s 4ms/step - loss: 0.2929 - accuracy: 0.8721 - val_loss: 0.3453 - val_accuracy: 0.8553
Epoch 67/150
3199/3199 [==============================] - 12s 4ms/step - loss: 0.2922 - accuracy: 0.8720 - val_loss: 0.3392 - val_accuracy: 0.8561
Epoch 68/150
3199/3199 [==============================] - 12s 4ms/step - loss: 0.2909 - accuracy: 0.8734 - val_loss: 0.3388 - val_accuracy: 0.8556
Epoch 69/150
3199/3199 [==============================] - 12s 4ms/step - loss: 0.2904 - accuracy: 0.8732 - val_loss: 0.3368 - val_accuracy: 0.8559
Epoch 70/150
3199/3199 [==============================] - 11s 4ms/step - loss: 0.2893 - accuracy: 0.8739 - val_loss: 0.3350 - val_accuracy: 0.8573
Epoch 71/150
3199/3199 [==============================] - 12s 4ms/step - loss: 0.2886 - accuracy: 0.8741 - val_loss: 0.3362 - val_accuracy: 0.8570
Epoch 72/150
3199/3199 [==============================] - 12s 4ms/step - loss: 0.2876 - accuracy: 0.8747 - val_loss: 0.3389 - val_accuracy: 0.8562
Epoch 73/150
3199/3199 [==============================] - 12s 4ms/step - loss: 0.2869 - accuracy: 0.8751 - val_loss: 0.3368 - val_accuracy: 0.8584
Epoch 74/150
3199/3199 [==============================] - 12s 4ms/step - loss: 0.2864 - accuracy: 0.8755 - val_loss: 0.3354 - val_accuracy: 0.8589
Epoch 75/150
3199/3199 [==============================] - 11s 4ms/step - loss: 0.2857 - accuracy: 0.8760 - val_loss: 0.3331 - val_accuracy: 0.8581
Epoch 76/150
3199/3199 [==============================] - 12s 4ms/step - loss: 0.2852 - accuracy: 0.8757 - val_loss: 0.3394 - val_accuracy: 0.8564
Epoch 77/150
3199/3199 [==============================] - 12s 4ms/step - loss: 0.2834 - accuracy: 0.8765 - val_loss: 0.3374 - val_accuracy: 0.8585
Epoch 78/150
3199/3199 [==============================] - 12s 4ms/step - loss: 0.2834 - accuracy: 0.8771 - val_loss: 0.3379 - val_accuracy: 0.8574
Epoch 79/150
3199/3199 [==============================] - 12s 4ms/step - loss: 0.2829 - accuracy: 0.8772 - val_loss: 0.3340 - val_accuracy: 0.8604
Epoch 80/150
3199/3199 [==============================] - 12s 4ms/step - loss: 0.2817 - accuracy: 0.8779 - val_loss: 0.3337 - val_accuracy: 0.8603
Epoch 81/150
3199/3199 [==============================] - 12s 4ms/step - loss: 0.2814 - accuracy: 0.8778 - val_loss: 0.3345 - val_accuracy: 0.8600
Epoch 82/150
3199/3199 [==============================] - 12s 4ms/step - loss: 0.2802 - accuracy: 0.8791 - val_loss: 0.3305 - val_accuracy: 0.8612
Epoch 83/150
3199/3199 [==============================] - 12s 4ms/step - loss: 0.2793 - accuracy: 0.8789 - val_loss: 0.3340 - val_accuracy: 0.8609
Epoch 84/150
3199/3199 [==============================] - 12s 4ms/step - loss: 0.2792 - accuracy: 0.8788 - val_loss: 0.3335 - val_accuracy: 0.8600
Epoch 85/150
3199/3199 [==============================] - 11s 4ms/step - loss: 0.2786 - accuracy: 0.8795 - val_loss: 0.3343 - val_accuracy: 0.8605
Epoch 86/150
3199/3199 [==============================] - 12s 4ms/step - loss: 0.2769 - accuracy: 0.8800 - val_loss: 0.3333 - val_accuracy: 0.8613
Epoch 87/150
3199/3199 [==============================] - 12s 4ms/step - loss: 0.2769 - accuracy: 0.8800 - val_loss: 0.3288 - val_accuracy: 0.8621
Epoch 88/150
3199/3199 [==============================] - 12s 4ms/step - loss: 0.2768 - accuracy: 0.8803 - val_loss: 0.3282 - val_accuracy: 0.8636
Epoch 89/150
3199/3199 [==============================] - 12s 4ms/step - loss: 0.2756 - accuracy: 0.8809 - val_loss: 0.3307 - val_accuracy: 0.8632
Epoch 90/150
3199/3199 [==============================] - 12s 4ms/step - loss: 0.2763 - accuracy: 0.8809 - val_loss: 0.3335 - val_accuracy: 0.8622
Epoch 91/150
3199/3199 [==============================] - 12s 4ms/step - loss: 0.2740 - accuracy: 0.8820 - val_loss: 0.3249 - val_accuracy: 0.8647
Epoch 92/150
3199/3199 [==============================] - 12s 4ms/step - loss: 0.2756 - accuracy: 0.8807 - val_loss: 0.3271 - val_accuracy: 0.8640
Epoch 93/150
3199/3199 [==============================] - 12s 4ms/step - loss: 0.2734 - accuracy: 0.8819 - val_loss: 0.3335 - val_accuracy: 0.8624
Epoch 94/150
3199/3199 [==============================] - 12s 4ms/step - loss: 0.2731 - accuracy: 0.8821 - val_loss: 0.3251 - val_accuracy: 0.8657
Epoch 95/150
3199/3199 [==============================] - 12s 4ms/step - loss: 0.2720 - accuracy: 0.8824 - val_loss: 0.3276 - val_accuracy: 0.8655
Epoch 96/150
3199/3199 [==============================] - 12s 4ms/step - loss: 0.2722 - accuracy: 0.8830 - val_loss: 0.3304 - val_accuracy: 0.8640
Epoch 97/150
3199/3199 [==============================] - 12s 4ms/step - loss: 0.2712 - accuracy: 0.8831 - val_loss: 0.3298 - val_accuracy: 0.8626
Epoch 98/150
3199/3199 [==============================] - 12s 4ms/step - loss: 0.2713 - accuracy: 0.8832 - val_loss: 0.3246 - val_accuracy: 0.8649
Epoch 99/150
3199/3199 [==============================] - 12s 4ms/step - loss: 0.2705 - accuracy: 0.8832 - val_loss: 0.3271 - val_accuracy: 0.8641
Epoch 100/150
3199/3199 [==============================] - 12s 4ms/step - loss: 0.2713 - accuracy: 0.8830 - val_loss: 0.3261 - val_accuracy: 0.8650
Epoch 101/150
3199/3199 [==============================] - 12s 4ms/step - loss: 0.2693 - accuracy: 0.8839 - val_loss: 0.3254 - val_accuracy: 0.8647
Epoch 102/150
3199/3199 [==============================] - 12s 4ms/step - loss: 0.2691 - accuracy: 0.8844 - val_loss: 0.3234 - val_accuracy: 0.8667
Epoch 103/150
3199/3199 [==============================] - 12s 4ms/step - loss: 0.2682 - accuracy: 0.8847 - val_loss: 0.3317 - val_accuracy: 0.8654
Epoch 104/150
3199/3199 [==============================] - 12s 4ms/step - loss: 0.2684 - accuracy: 0.8842 - val_loss: 0.3278 - val_accuracy: 0.8656
Epoch 105/150
3199/3199 [==============================] - 12s 4ms/step - loss: 0.2684 - accuracy: 0.8847 - val_loss: 0.3303 - val_accuracy: 0.8648
Epoch 106/150
3199/3199 [==============================] - 12s 4ms/step - loss: 0.2675 - accuracy: 0.8853 - val_loss: 0.3240 - val_accuracy: 0.8671
Epoch 107/150
3199/3199 [==============================] - 12s 4ms/step - loss: 0.2670 - accuracy: 0.8850 - val_loss: 0.3291 - val_accuracy: 0.8657
Epoch 108/150
3199/3199 [==============================] - 12s 4ms/step - loss: 0.2664 - accuracy: 0.8852 - val_loss: 0.3236 - val_accuracy: 0.8671
Epoch 109/150
3199/3199 [==============================] - 12s 4ms/step - loss: 0.2655 - accuracy: 0.8861 - val_loss: 0.3209 - val_accuracy: 0.8680
Epoch 110/150
3199/3199 [==============================] - 12s 4ms/step - loss: 0.2653 - accuracy: 0.8860 - val_loss: 0.3189 - val_accuracy: 0.8699
Epoch 111/150
3199/3199 [==============================] - 12s 4ms/step - loss: 0.2640 - accuracy: 0.8862 - val_loss: 0.3236 - val_accuracy: 0.8682
Epoch 112/150
3199/3199 [==============================] - 12s 4ms/step - loss: 0.2650 - accuracy: 0.8861 - val_loss: 0.3219 - val_accuracy: 0.8660
Epoch 113/150
3199/3199 [==============================] - 13s 4ms/step - loss: 0.2642 - accuracy: 0.8865 - val_loss: 0.3214 - val_accuracy: 0.8680
Epoch 114/150
3199/3199 [==============================] - 12s 4ms/step - loss: 0.2644 - accuracy: 0.8869 - val_loss: 0.3198 - val_accuracy: 0.8675
Epoch 115/150
3199/3199 [==============================] - 12s 4ms/step - loss: 0.2639 - accuracy: 0.8869 - val_loss: 0.3206 - val_accuracy: 0.8679
Epoch 116/150
3199/3199 [==============================] - 12s 4ms/step - loss: 0.2629 - accuracy: 0.8873 - val_loss: 0.3187 - val_accuracy: 0.8704
Epoch 117/150
3199/3199 [==============================] - 12s 4ms/step - loss: 0.2629 - accuracy: 0.8873 - val_loss: 0.3215 - val_accuracy: 0.8685
Epoch 118/150
3199/3199 [==============================] - 12s 4ms/step - loss: 0.2632 - accuracy: 0.8875 - val_loss: 0.3270 - val_accuracy: 0.8656
Epoch 119/150
3199/3199 [==============================] - 12s 4ms/step - loss: 0.2620 - accuracy: 0.8875 - val_loss: 0.3168 - val_accuracy: 0.8701
Epoch 120/150
3199/3199 [==============================] - 12s 4ms/step - loss: 0.2610 - accuracy: 0.8882 - val_loss: 0.3205 - val_accuracy: 0.8703
Epoch 121/150
3199/3199 [==============================] - 12s 4ms/step - loss: 0.2616 - accuracy: 0.8880 - val_loss: 0.3193 - val_accuracy: 0.8691
Epoch 122/150
3199/3199 [==============================] - 12s 4ms/step - loss: 0.2615 - accuracy: 0.8878 - val_loss: 0.3212 - val_accuracy: 0.8692
Epoch 123/150
3199/3199 [==============================] - 12s 4ms/step - loss: 0.2603 - accuracy: 0.8884 - val_loss: 0.3178 - val_accuracy: 0.8704
Epoch 124/150
3199/3199 [==============================] - 12s 4ms/step - loss: 0.2602 - accuracy: 0.8883 - val_loss: 0.3186 - val_accuracy: 0.8704
Epoch 125/150
3199/3199 [==============================] - 12s 4ms/step - loss: 0.2598 - accuracy: 0.8892 - val_loss: 0.3207 - val_accuracy: 0.8697
Epoch 126/150
3199/3199 [==============================] - 12s 4ms/step - loss: 0.2595 - accuracy: 0.8891 - val_loss: 0.3163 - val_accuracy: 0.8713
Epoch 127/150
3199/3199 [==============================] - 12s 4ms/step - loss: 0.2593 - accuracy: 0.8894 - val_loss: 0.3225 - val_accuracy: 0.8695
Epoch 128/150
3199/3199 [==============================] - 12s 4ms/step - loss: 0.2592 - accuracy: 0.8893 - val_loss: 0.3145 - val_accuracy: 0.8710
Epoch 129/150
3199/3199 [==============================] - 12s 4ms/step - loss: 0.2584 - accuracy: 0.8899 - val_loss: 0.3229 - val_accuracy: 0.8691
Epoch 130/150
3199/3199 [==============================] - 12s 4ms/step - loss: 0.2572 - accuracy: 0.8901 - val_loss: 0.3240 - val_accuracy: 0.8674
Epoch 131/150
3199/3199 [==============================] - 12s 4ms/step - loss: 0.2585 - accuracy: 0.8896 - val_loss: 0.3173 - val_accuracy: 0.8700
Epoch 132/150
3199/3199 [==============================] - 12s 4ms/step - loss: 0.2582 - accuracy: 0.8900 - val_loss: 0.3189 - val_accuracy: 0.8702
Epoch 133/150
3199/3199 [==============================] - 12s 4ms/step - loss: 0.2574 - accuracy: 0.8901 - val_loss: 0.3228 - val_accuracy: 0.8692
Epoch 134/150
3199/3199 [==============================] - 12s 4ms/step - loss: 0.2573 - accuracy: 0.8900 - val_loss: 0.3179 - val_accuracy: 0.8715
Epoch 135/150
3199/3199 [==============================] - 12s 4ms/step - loss: 0.2570 - accuracy: 0.8904 - val_loss: 0.3150 - val_accuracy: 0.8721
Epoch 136/150

In [217]:
predNN = modelNN.predict(x_test2)

In [218]:
predNN = pd.DataFrame(predNN)
y_predNN = predNN.idxmax(axis=1)


y_trueNN = np.asarray(y_test2)
y_trueNN = pd.DataFrame(y_trueNN)
y_trueNN= y_trueNN.idxmax(axis=1)

In [219]:
NNScore = accuracy_score(y_trueNN,y_predNN)

In [220]:
print(NNScore)

0.8681135796277087

In [221]:
print('--------- Confusion matrix -> NN-----------')
print(confusion_matrix(y_trueNN,y_predNN))
print('--------- Classification Report matrix -> NN-----------')
print(classification_report(y_trueNN,y_predNN))

--------- Confusion matrix -> NN-----------
[[67050 20757]
 [ 2383 85264]]
--------- Classification Report matrix -> NN-----------
              precision    recall  f1-score   support

           0       0.97      0.76      0.85     87807
           1       0.80      0.97      0.88     87647

    accuracy                           0.87    175454
   macro avg       0.88      0.87      0.87    175454
weighted avg       0.89      0.87      0.87    175454